.alert {
    width: 350px;
    height: 35px;
    border-radius: 6px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.info-alert {
    background-color: var(--info-alert);
    border: 2px solid var(--info-alert-brdr);
    color: rgb(5, 81, 96);
}

.success-alert {
    background-color: var(--success-alert);
    border: 2px solid var(--success-alert-brdr);
    color: rgb(10, 54, 34);
}

.error-alert {
    background-color: var(--danger-alert);
    border: 2px solid var(--danger-alert-brdr);
    color: rgb(88, 21, 28);
}

.alert-message {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

.close-button {
    width: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: rgba(26, 21, 21, 0.7);
}

.close-button:hover {
    color: rgba(26, 21, 21, 0.9);
}

.container {
    padding: 0px 50px;
}

.form-container {

    background-color: var(--light-color);
    border-radius: 7px;

    width: 500px;
    height: max-content;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 70px;

    overflow-y: auto;
}

.form-container .form-head {
    font-size: 40px;
    color: var(--primary-color);
    height: 70px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form-container .form {
    flex: 1;
    width: 350px;
}

.form-container .form .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-container .form .form-control label {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.form-container .form .form-control input {
    margin: 5px 0;
}

.form-container .form .form-submit {
    font-weight: 700;
}

.register-form .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-form .names .first_name,
.register-form .names .last_name {
    width: 165px;
}