<header class="header">
    <div class="nav-link">
        <a class="link" href="{% url 'home' %}">CRM</a>
    </div>

    <ul class="nav-list">
        <li class="list-item">
            <a class="list-link active" href="">
                Home
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="">
                Customers
            </a>
        </li>
    </ul>

    {% if user.is_authenticated %}
    <div class="logout-button">
        <a class="btn logout" href="{% url 'logout' %}">
            Logout
        </a>
    </div>
    {% endif %}
</header>